.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: DodgerBlue;
    padding: 1rem;
  }
  
  .galeria > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 1rem;
    text-align: center;
    width: 200px; 
    height: 200px; 
  }
  
  .galeria img {
    width: 100%; 
    height: 100%; 
    
  }

.bonpreu .nog {
    object-fit: cover; 
}

h1 {
    background-color: #ADD8E6;
  }
  
.experiencia {
  text-align: center;
  
  }