.galeria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: DodgerBlue;
    padding: 1rem;
  }
  
  .galeria > div {
    background-color: #f1f1f1;
    margin: 10px; 
    padding: 1rem;
    text-align: center; 
  }
  
  .galeria img {
    /* max-width: 200px;  */
    height: auto; 
  }

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
  
}
  